body {
    background-color: rgb(159, 221, 237);
}

.cím {
    background-color: rgb(95, 188, 211);
    text-align: center;  
    margin-bottom: 0px;
}

#tartalom{
    background-color: rgb(233, 197, 119);
    margin-top: 50px;
    padding: 7px;
}

#tartalom img{
    float: right;
    width: 250px;
}

.méret {
    font-size: 12pt;
}

.méret2 {
    font-size: 8pt;
}

#paprika {
    text-align: center;
    width: 350px;
    float: none;
}

.nav-item {
    background-color: rgb(95, 188, 211);
    color: black;
}

.nav-item:hover {
    background-color: rgb(63, 143, 163);
}